body {
    background-color: #025f;
}

.stream {
	margin: 10px;
	background-color: #003f9e;

}

.bornstream {
	display: block;
	margin: 0 auto;

}

.made {
	margin-top: 50px;
	text-align: center;
	color: #fff;
	font-family: Sans-serif;

}

.link {
	color: green;
	font-family: Sans-serif;
}

.born {
	text-align: center;
	color: #fff;
	font-family: Sans-serif;
}

.born1 {
	text-align: center;
	color: #fff;
	font-family: Sans-serif;
}

.fair {
	text-align: center;
	color: #ededed;
	font-family: sans-serif;
}

.how2 {
	color: #bababa;
	text-align: center;
}

.video{
	width: 250px;
	display: block;
	margin: 5px auto;
}
